name: Reusable Workflow Build & Deploy Docker Image to ACR and ACA

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: read
    id-token: write

jobs:
    build-and-deploy:
        uses: ./.github/workflows/reusable.yml
        secrets: inherit
