name: Build & Deploy Docker Image to ACR and ACA

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      contents: read
      id-token: write
    env:
      ACR_NAME: ${{ secrets.ACR_NAME }}
      ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
      REPO: ${{ secrets.REPO }}
      ACA_NAME: ${{ secrets.ACA_NAME }}
      ACA_RG: ${{ secrets.ACA_RG }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to ACR
        uses: ./.github/actions/acr-login

      - name: Backup existing tag
        uses: ./.github/actions/backup-tag

      - name: Build Docker image
        uses: ./.github/actions/build-docker-image

      - name: Push Docker image
        uses: ./.github/actions/push-docker-image

      - name: Cleanup old build tags
        uses: ./.github/actions/cleanup-old-tags

      - name: Update Azure Container App
        uses: ./.github/actions/update-aca
