name: Build & Deploy Docker Image to ACR and ACA

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build-and-deploy:
        uses: ./.github/workflows/reusable.yml
        secrets:
            AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
            AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
            AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
            ACR_NAME: ${{ secrets.ACR_NAME }}
            ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
            REPO: ${{ secrets.REPO }}
            ACA_NAME: ${{ secrets.ACA_NAME }}
            ACA_RG: ${{ secrets.ACA_RG }}
